<footer>
    <div class="footer-container">
        <div class="footer-social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="footer-name"> @ Travel Mingle </div>
        <div class="footer-info">
            <a class="footer-link" href=""> $privacy </a>
            <a class="footer-link" href=""> $terms </a>
        </div>
    </div>
</footer>