<% layout('layouts/boilerplate') %>
<body>
    <div class="row form">
        <div class="col-12" style="width: 50%;">

            <form action="/listing/submit" method="post" class="form">
                <h3> Add new Listing </h3>
                <div class="form-element">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="" placeholder="enter title" class="form-control">
                </div>
                <div class="form-element">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="" placeholder="enter description" class="form-control"></textarea>
                </div>
                <div class="form-element">
                    <label for="image" class="form-label">URL</label>
                    <input type="text" name="listing[image]" id="" placeholder="enter url" class="form-control">
                </div>
                <div class="row">
        
                    <div class="form-element  col-md-5 ">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" id="" placeholder="enter price" class="form-control">
                    </div>
                    <div class="form-element col-md-7">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="" placeholder="enter country" class="form-control">
                    </div>
                </div>
                <div class="form-element">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="" placeholder="enter location" class="form-control">
                </div>
                <button class="btn btn-dark add-btn">ADD</button>
            </form>
        </div>
    </div>
</body>
